*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: transc 5s infinite;
}
@keyframes transc{
    0%{
        background-color: #65c7f7;

    }
    25%{
        background-color: #65f771;
        
    }
    50%{
        background-color: #522eb6;
        
    }
    100%{
        background-color: #060707;
        
    }
}
.container{
    background:linear-gradient(to right,#9cecfb,#65c7f7,#0052d4);
    width: 1000px;
    height: 500px;
    border-radius: 10px;
  
  
 
}

.container .title{
    padding: 10px 0;
    text-align: center;
    font-size: 40px;

}
.container .input{
    text-align: center;
    margin: 13px 0;
}
.container #location-input{
    background-color: white;
    border: 1.5px solid rgba(0,0,0,0.4);
    outline: none;
    height: 38px;
    padding: 8px 10px;
    width: 60%;
    border-radius: 5px 0 0 5px;
    font-size: 16px;



}
.container #location-input:focus{
    box-shadow: 0px 0px 3px #015b7e;

}
.container #btn{
    width: 20%;
    background-color: rgb(102, 48, 48);
    color: white;
    padding: 7px 10px;
    font-size: 16px;
    outline: none;
    border: #015b7e;
    position: relative;
    border-radius: 0 5px 5px 0;
    height: 39px;
    cursor: pointer;

}
.container .input #btn:hover,.container .input #btn:active{
    background-color: rgb(20, 20, 19);
    box-shadow: 0px 0px 2px #015b7e;

}
#icon{
    display: block;
    width: 100px;
    margin: 0 auto;
    font-size: 100px;

}
.info{
    color: #293251;
}

.temp{
    text-align: center;
    font-size: 50px;
    font-weight: 600px;

}
#Weather-desc{
    text-align: center;
    font-size: 70px;
   
}
#location{
    text-align: center;
    font-size: 90px;
}



